html{
    box-sizing: border-box;
    font-size: 100%;
    --color-headings: #f9f8fc;
    --color-hover: rgb(0, 10, 99);
    --border-color: #ffffff;
    --border-featured-color: #001fac;
    --featured-background-color: #ffffff;
    --follow-background-color: #0c0a72; 
    --featured-text: #00177c;
    --follow-text: #ffffff;
    --color-background: linear-gradient(45deg, rgba(20, 136, 221, 0.5) 0%, rgba(20, 136, 221, 0.5) 12.5%,rgba(27, 145, 222, 0.5) 12.5%, rgba(27, 145, 222, 0.5) 25%,rgba(33, 154, 222, 0.5) 25%, rgba(33, 154, 222, 0.5) 37.5%,rgba(40, 163, 223, 0.5) 37.5%, rgba(40, 163, 223, 0.5) 50%,rgba(46, 173, 224, 0.5) 50%, rgba(46, 173, 224, 0.5) 62.5%,rgba(53, 182, 225, 0.5) 62.5%, rgba(53, 182, 225, 0.5) 75%,rgba(59, 191, 225, 0.5) 75%, rgba(59, 191, 225, 0.5) 87.5%,rgba(66, 200, 226, 0.5) 87.5%, rgba(66, 200, 226, 0.5) 100%),linear-gradient(135deg, rgb(34, 87, 254) 0%, rgb(34, 87, 254) 12.5%,rgb(42, 82, 249) 12.5%, rgb(42, 82, 249) 25%,rgb(50, 77, 243) 25%, rgb(50, 77, 243) 37.5%,rgb(58, 72, 238) 37.5%, rgb(58, 72, 238) 50%,rgb(67, 67, 233) 50%, rgb(67, 67, 233) 62.5%,rgb(75, 62, 228) 62.5%, rgb(75, 62, 228) 75%,rgb(83, 57, 222) 75%, rgb(83, 57, 222) 87.5%,rgb(91, 52, 217) 87.5%, rgb(91, 52, 217) 100%);
    //linear-gradient(52deg, rgba(163, 163, 163, 0.09) 0%, rgba(163, 163, 163, 0.09) 33.3%,rgba(100, 100, 100, 0.09) 33.3%, rgba(100, 100, 100, 0.09) 66.6%,rgba(162, 162, 162, 0.09) 66.6%, rgba(162, 162, 162, 0.09) 99%),linear-gradient(258deg, rgba(193, 193, 193, 0.06) 0%, rgba(193, 193, 193, 0.06) 33.3%,rgba(169, 169, 169, 0.06) 33.3%, rgba(169, 169, 169, 0.06) 66.6%,rgba(92, 92, 92, 0.06) 66.6%, rgba(92, 92, 92, 0.06) 99%),linear-gradient(129deg, rgba(45, 45, 45, 0.03) 0%, rgba(45, 45, 45, 0.03) 33.3%,rgba(223, 223, 223, 0.03) 33.3%, rgba(223, 223, 223, 0.03) 66.6%,rgba(173, 173, 173, 0.03) 66.6%, rgba(173, 173, 173, 0.03) 99%),linear-gradient(280deg, rgba(226, 226, 226, 0.06) 0%, rgba(226, 226, 226, 0.06) 33.3%,rgba(81, 81, 81, 0.06) 33.3%, rgba(81, 81, 81, 0.06) 66.6%,rgba(186, 186, 186, 0.06) 66.6%, rgba(186, 186, 186, 0.06) 99%),linear-gradient(85deg, rgba(225, 225, 225, 0.04) 0%, rgba(225, 225, 225, 0.04) 33.3%,rgba(95, 95, 95, 0.04) 33.3%, rgba(95, 95, 95, 0.04) 66.6%,rgba(39, 39, 39, 0.04) 66.6%, rgba(39, 39, 39, 0.04) 99%),linear-gradient(128deg, rgba(184, 184, 184, 0.06) 0%, rgba(184, 184, 184, 0.06) 33.3%,rgba(0, 0, 0, 0.06) 33.3%, rgba(0, 0, 0, 0.06) 66.6%,rgba(140, 140, 140, 0.06) 66.6%, rgba(140, 140, 140, 0.06) 99.89999999999999%),linear-gradient(323deg, rgba(40, 40, 40, 0.07) 0%, rgba(40, 40, 40, 0.07) 33.3%,rgba(214, 214, 214, 0.07) 33.3%, rgba(214, 214, 214, 0.07) 66.6%,rgba(190, 190, 190, 0.07) 66.6%, rgba(190, 190, 190, 0.07) 99.89999999999999%),linear-gradient(61deg, rgba(230, 230, 230, 0) 0%, rgba(230, 230, 230, 0) 33.3%,rgba(241, 241, 241, 0) 33.3%, rgba(241, 241, 241, 0) 66.6%,rgba(55, 55, 55, 0) 66.6%, rgba(55, 55, 55, 0) 99%),linear-gradient(0deg, #2625e3,#0bbaef);
    //linear-gradient(45deg, rgba(152, 152, 152, 0.07) 0%, rgba(152, 152, 152, 0.07) 48%,rgba(136, 136, 136, 0.07) 48%, rgba(136, 136, 136, 0.07) 100%),linear-gradient(45deg, rgba(235, 235, 235, 0.06) 0%, rgba(235, 235, 235, 0.06) 79%,rgba(218, 218, 218, 0.06) 79%, rgba(218, 218, 218, 0.06) 100%),linear-gradient(135deg, rgba(12, 12, 12, 0.04) 0%, rgba(12, 12, 12, 0.04) 30%,rgba(79, 79, 79, 0.04) 30%, rgba(79, 79, 79, 0.04) 100%),linear-gradient(45deg, rgba(173, 173, 173, 0.03) 0%, rgba(173, 173, 173, 0.03) 66%,rgba(245, 245, 245, 0.03) 66%, rgba(245, 245, 245, 0.03) 100%),linear-gradient(135deg, rgba(84, 84, 84, 0.06) 0%, rgba(84, 84, 84, 0.06) 51%,rgba(165, 165, 165, 0.06) 51%, rgba(165, 165, 165, 0.06) 100%),linear-gradient(45deg, rgba(15, 15, 15, 0.02) 0%, rgba(15, 15, 15, 0.02) 14%,rgba(95, 95, 95, 0.02) 14%, rgba(95, 95, 95, 0.02) 100%),linear-gradient(0deg, rgba(34, 34, 34, 0.05) 0%, rgba(34, 34, 34, 0.05) 58%,rgba(98, 98, 98, 0.05) 58%, rgba(98, 98, 98, 0.05) 100%),linear-gradient(90deg, rgb(2, 110, 165),rgb(50, 216, 218));
    //linear-gradient(45deg, rgb(111, 71, 237) 0%, rgb(111, 71, 237) 21%,rgb(101, 92, 233) 21%, rgb(101, 92, 233) 30%,rgb(91, 112, 229) 30%, rgb(91, 112, 229) 35%,rgb(82, 133, 226) 35%, rgb(82, 133, 226) 51%,rgb(72, 154, 222) 51%, rgb(72, 154, 222) 72%,rgb(62, 174, 218) 72%, rgb(62, 174, 218) 81%,rgb(52, 195, 214) 81%, rgb(52, 195, 214) 100%);
}

html[data-theme='dark'] {
    box-sizing: border-box;
    font-size: 100%;
    --color-headings: rgba(253, 250, 250, 0.945);
    --color-hover: rgb(0, 21, 141);
    --border-color: #52ebff;
    --border-featured-color: #0222af;
    --featured-background-color: #fdfbfb;
    --follow-background-color: #00c6d4;
    --featured-text: #1000a1;
    --follow-text: #1b1b1b;
    --color-background: radial-gradient(circle at center center, rgb(71, 71, 71),rgb(8, 8, 8));
    //linear-gradient(135deg, rgba(34, 34, 34, 0.555) 0%, rgba(21, 21, 21, 0.09) 38%,rgba(58, 58, 58, 0.397) 38%, rgba(32, 32, 32, 0.479) 100%),linear-gradient(45deg, rgba(14, 14, 14, 0.09) 0%, rgba(14, 14, 14, 0.09) 8%,rgba(107, 107, 107, 0.09) 8%, rgba(44, 43, 43, 0.09) 100%),linear-gradient(45deg, rgba(19, 19, 19, 0.603) 0%, rgba(228, 228, 228, 0.06) 36%,rgba(10, 10, 10, 0.06) 36%, rgba(10, 10, 10, 0.06) 100%),linear-gradient(45deg, rgba(16, 16, 16, 0.03) 0%, rgba(16, 16, 16, 0.03) 6%,rgba(39, 39, 39, 0.671) 6%, rgba(51, 51, 51, 0.568) 100%),linear-gradient(90deg, rgba(32, 32, 32, 0.568) 0%, rgba(32, 32, 32, 0.596) 73%,rgba(34, 34, 34, 0.356) 73%, rgba(27, 27, 27, 0.575) 100%),linear-gradient(45deg, rgba(19, 19, 19, 0.589) 0%, rgba(32, 32, 32, 0.664) 10%,rgba(23, 23, 23, 0.568) 10%, rgba(23, 23, 23, 0.61) 100%),linear-gradient(135deg, rgba(42, 42, 42, 0.295) 0%, rgba(206, 206, 206, 0.01) 79%,rgba(111, 111, 111, 0.01) 79%, rgba(31, 31, 31, 0.493) 100%),linear-gradient(0deg, rgba(26, 26, 26, 0.507) 0%, rgba(26, 26, 26, 0.568) 87%,rgba(26, 26, 26, 0.685) 87%, rgba(42, 42, 42, 0.473) 100%),linear-gradient(90deg, rgba(109, 109, 109, 0.07) 0%, rgba(32, 32, 32, 0.322) 55%,rgba(41, 41, 41, 0.287) 55%, rgba(59, 59, 59, 0.486) 100%),linear-gradient(90deg, rgb(2, 2, 2),rgba(37, 37, 37, 0.644));
}

*, *:before, *:after {
    box-sizing: inherit;
}

.toggle-container {
    //background-color: -webkit-gradient(linear,left top,left bottom,color-stop(6%, #3937c9),color-stop);
   
    display: grid;
    justify-items: right;
    align-items: top;
    margin-right: 12px;
    text-align: left;
    margin-top: 15px;
}

body{
    background: var(--color-background);
    min-height: 100vh;
    text-align: center;
    font-family:'Roboto',sans-serif;
}

.logo{
    width: 110px;
    //margin-bottom: 10px;
}

a,a.featured{  
    &:hover{
    background-color: var(--color-hover);
     color: #ffffff;
     
  }

}

p{
  font-size: 1em;  
  margin-bottom: 40px;
  color: #ffffff;
  font-weight: 500;
}

a{
  color:#ffffff;
  max-width:400px;
  margin:0 auto 16px auto;
  border: 2px solid var(--border-color);
  border-radius: 30px;
  display:block;
  text-decoration:none;
  padding: 15px 20px;
  font-size: 1rem;
  transition:all 200ms ease-in-out;
  
  &.follow {
    color: var(--follow-text);
    font-weight: bold;
}
 
  &.featured {
      position: relative;
      background-color: var(--featured-background-color);
      color: var(--featured-text);
      font-weight: bold;
      
  
   &:before{
          content:"";
          position: absolute;
          top: 2px;
          left: 2px;
          width: calc(100% - 4px) ; 
          border: 2px solid  var(--border-featured-color) ;
          height: calc(100% - 4px) ;
          border-radius: 30px;
   }
  }
}    
   

h2{
  color: var(--color-headings);
  font-size: 18px;
  margin-top: 25px;
  font-weight: normal-bold;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.channels{
  display: flex;
  max-width: 400px;
  margin: 0 auto;


      a {
      background-color: var(--follow-background-color);
      flex:1;
      padding:7px 10px;
      margin-right:10px;
      border:none;
      
      &:last-child {
          margin-right: 0px;
      } 

      &:hover{
          text-decoration: underline;
      
      }
  }
}

.switch {
    position: relative;
    margin-right: 0px;
    margin-top: 4px;
    display: grid;
    width: 45px;
    height: 26px;
    margin-bottom: 2px;
}

.slider {
    position: absolute;

    cursor: pointer;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgb(5, 5, 5);
    transition: .5s;
    border: 2.5px solid rgb(245, 241, 241);
    box-shadow: 1px 1px 1px rgba(14, 13, 13, 0.219); 
}

.slider:before {
    position: absolute;
    content: "";
    bottom: 3px;
    top: 3.4px;
    background-color: rgb(224, 252, 67);
    transition: .5s;
}

.switch input { display: none; }

input:checked + .slider {
    background-color: rgb(42, 230, 236);
}

input:checked + .slider:before{
    transform: translateX(23px) rotateZ(45deg);
    background: rgb(53, 53, 53);
}

.slider.round {
    border-radius: 60px;
}

.slider.round:before {
    width: 40%;
    height: 45%;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    transform: rotateZ(-45deg);
}

html.transition,
html.transition *,
html.transition * :before,
html.transition * :after {
    transition: all 750ms !important;
    transition-delay: 0 !important;
}
